node_modules/
firmware.lib

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lo
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.pyc

.DS_Store
build/
.temp
